* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Utility Classes */
.btn-primary {
    background: #1DB954;
    color: white;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}

.btn-primary:hover {
    background: #1ed760;
    cursor: pointer;
}

.logo {
    height: auto;
    width: 100%;
    max-width: 150px;
}

/* Navbar */
#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar .navbar-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

#navbar .navbar-container .logo {
    max-width: 100px;
}

#navbar .navbar-container ul {
    display: none;
    list-style: none;
    font-weight: bold;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
}

#navbar .navbar-container ul.show {
    display: flex;
}

#navbar .navbar-container ul li {
    padding: 15px;
    transition: all 300ms ease;
    border-bottom: 1px solid white;
}

#navbar .navbar-container ul li:hover {
    background-color: #1DB954;
    cursor: pointer;
}

#navbar .navbar-container ul li:last-child {
    border-bottom: none;
}

#navbar .navbar-container ul li:nth-child(3) {
    border-right: none;
}

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('./img/showcase.webp') center center/cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h2 {
    font-size: 2.5rem;
}

#showcase .showcase-container p {
    margin: 10px 0;
    font-size: 1rem;
}

/* Footer */
#footer {
    background: black;
    color: white;
    padding: 40px 0;
}

#footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#footer .footer-content .footer-menu {
    margin: 0 20px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
    margin: 15px 0;
    transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
    color: #1DB954;
    cursor: pointer;
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919196;
    font-size: 0.8rem;
}

/* Footer Redes sociais */
.redes-sociais {
    display: flex;
    justify-content: center;
}

.redes-sociais i {
    margin: 0 10px;
    font-size: 1.7rem;
    transition: all 300ms ease;
}

.redes-sociais i:hover {
    color: #1DB954;
    cursor: pointer;
}

/* footer Informações */
.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
    font-weight: bold;
    color: #919196;
    font-size: 0.75rem;
    padding-top: 20px;
}

.footer-info .footer-info-items {
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 0 10px;
    transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
    color: #1DB954;
    cursor: pointer;
}

.footer-info .rights .country {
    margin-top: 10px;
}

.footer-info .rights .country p {
    transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
    color: #1DB954;
    cursor: pointer;
}

.footer-info .rights .country .brazil-flag {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    #navbar .navbar-container {
        width: 100%;
    }

    #navbar .navbar-container ul {
        display: none;
    }

    #navbar .navbar-container ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
    }

    #navbar .navbar-container ul li {
        padding: 15px;
        border-bottom: 1px solid white;
    }

    #navbar .navbar-container ul li:last-child {
        border-bottom: none;
    }

    #footer .footer-content {
        flex-direction: column;
        align-items: center;
    }

    #footer .footer-content .footer-menu {
        margin: 10px 0;
    }

    #footer .footer-content .footer-menu .footer-menu-item {
        margin: 10px 0;
    }

    .redes-sociais {
        margin-bottom: 20px;
    }

    .footer-info {
        width: 100%;
    }
}
